---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ k3s_namespace | lower }}-global
  namespace: {{ k3s_namespace | lower }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ k3s_namespace | lower }}-global
  namespace: {{ k3s_namespace | lower }}
  labels:
    "app.kubernetes.io/name": '{{ k3s_namespace | lower }}'
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["attach","create","delete","get","list","patch","update","watch"]
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create","delete","get","list","patch","update","watch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get","list","watch"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["list","watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create","delete","get","update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ k3s_namespace | lower }}-global-binding
  namespace: {{ k3s_namespace | lower }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ k3s_namespace | lower }}-global
subjects:
- kind: ServiceAccount
  name: {{ k3s_namespace | lower }}-global
  namespace: {{ k3s_namespace | lower }}
