# {{ ansible_host }} - {{ ansible_managed }} 

configDirectory={{ dns_pihole_config }}
installDirectory={{ dns_pihole_path }}
PIHOLE_INTERFACE={{ dns_pihole_network_interface }}
IPV4_ADDRESS={{ dns_ipv4 }}/24
IPV6_ADDRESS=
PIHOLE_DNS_1={{ dns_pihole_dns }}
PIHOLE_DNS_2=
QUERY_LOGGING=true
INSTALL_WEB=true
