[Journal]
Compress={{ 'yes' if os_prepare_journald_compress else 'no' }}
SystemMaxUse={{ os_prepare_journald_system_max_use }}
SystemKeepFree={{ os_prepare_journald_system_keep_free }}
SystemMaxFileSize={{ os_prepare_journald_system_max_file_size }}
MaxRetentionSec={{ os_prepare_journald_max_retention_sec }}
MaxFileSec={{ os_prepare_journald_max_file_sec }}
