#!/bin/bash

## VARIABLES ##

DIR=$HOME/.unbound

hints=/var/lib/unbound/root.hints
conf=/etc/unbound/unbound.conf.d/localroot.conf
infile=${DIR}/root.hints
outfile=${DIR}/localroot.conf
update=${DIR}/update.txt

## SCRIPT ##

# check for existence of update.txt file and .unbound directory
if [[ ! -d $HOME/.unbound ]]; then
	mkdir ${DIR}
fi
if [[ ! -e $HOME/.unbound/update.txt ]]; then
	echo "up to date" > ${update}
fi

# get the file with the root servers and save as "root.hints"
wget --timeout=30 -O ${infile} https://www.internic.net/domain/named.root

# extract name and IP addresses (A + AAAA) of root servers and nicely put them into the file for unbound
awk '\
	BEGIN\
	{
		print "auth-zone:\n\tname: \".\""
	}
	{
		if($0 ~ /[ 	]NS[ 	]/)
		{
			print "\t# "$NF
		}
		if($0 ~ /[ 	]A[ 	]/)
		{
			print "\tmaster: "$NF
		}
		if($0 ~ /[ 	]AAAA[ 	]/)
		{
			print "\tmaster: "$NF
		}
	}
	END\
	{
		print "\tfallback-enabled: yes\n\tfor-downstream: no\n\tfor-upstream: yes\n\tzonefile: \"/var/lib/unbound/root.zone\"\n"
	}\
' ${infile} > ${outfile}

#update the motd update notification if neither outfile nor diff file empty
if [[ -e ${outfile} && "$(diff -Niw ${conf} ${outfile})" != "" ]] || [[ -e ${infile} && "$(diff -Niw ${hints} ${infile})" != "" ]]; then
	echo "Update available – please run: sudo updateunboundconf" > ${update}
else
	echo "up to date" > ${update}
fi

#print update status
cat ${update}
echo