#!/bin/bash

## VARIABLES ##

DIR=/home/$(logname)/.unbound

hints=/var/lib/unbound/root.hints
conf=/etc/unbound/unbound.conf.d/localroot.conf
infile=${DIR}/root.hints
outfile=${DIR}/localroot.conf
update=${DIR}/update.txt

PLSUPDATE="Please run 'autoupdatelocalroot' first."
NOTHING="Update skipped, nothing done."

## SCRIPT ##

#update root.hints file
if [[ -e ${infile} ]] && [[ "$(diff -Niw ${hints} ${infile})" != "" ]]; then
	input=r
	echo "Install new root.hints file for Unbound (overwrites old file)?"
	echo "Yes / No / Re-Read differences?"
	while [[ "$input" =~ [rR] ]]; do
		diff -Niw ${hints} ${infile} | less
		read -e -p "	[Default = no]	(y/n/r): " input
	done

	if [[ "$input" =~ [yY] ]]; then
		mv -fv ${infile} ${hints}
		chown unbound:unbound ${hints}
		chmod 644 ${hints}
		yes1=TRUE
	else
		echo
		echo $NOTHING
		echo
	fi
else
	if [[ ! -e ${infile} ]]; then
		echo
		echo $PLSUPDATE
		echo
		exit 1
	else
		yes1=TRUE
	fi
fi

#update localroot.conf file
if [[ -e ${outfile} ]] && [[ "$(diff -Niw ${conf} ${outfile})" != "" ]]; then
	input=r
	echo "Install new localroot.conf file for Unbound (overwrites old file)?"
	echo "Yes / No / Re-Read differences?"	
	while [[ "$input" =~ [rR] ]]; do
		diff -Niw ${conf} ${outfile} | less
		read -e -p "	[Default = no]	(y/n/r): " input
	done

	if [[ "$input" =~ [yY] ]]; then
		mv -fv ${outfile} ${conf}
		yes2=TRUE
	else
		echo
		echo $NOTHING
		echo
	fi
else
	if [[ ! -e ${outfile} ]]; then
		echo
		echo $PLSUPDATE
		echo
		exit 1
	else
		yes2=TRUE
	fi
fi

#update motd update notification
if [[ "$yes1" == TRUE ]] && [[ "$yes2" == TRUE ]]; then
	echo "up to date" > ${update}
	echo
	echo "Unbound's local root config is up to date!"
	echo
else
	echo
	echo "Entire or partial Update still pending."
	echo
fi