{
  "runner_type": "{{ runner_item.runner_type | default('instance_type') }}",
  "description": {{ k3s_gitlab_runner_description | to_json }},
{% if runner_item.group_id is defined %}
  "group_id": {{ runner_item.group_id | to_json }},
{% endif %}
{% if runner_item.project_id is defined %}
  "project_id": {{ runner_item.project_id | to_json }},
{% endif %}
  "tag_list": {{ (k3s_gitlab_runner_tags + [k3s_gitlab_runner_management_tag]) | unique | list | to_json }},
  "run_untagged": {{ k3s_gitlab_runner_run_untagged | bool | lower }}
}
