{
  "runner_type": "{{ runner_item.runner_type | default('instance_type') }}",
  "description": "{{ ('k8s-runner-' + runner_item.key ~ ' | cpu=' ~ runner_item.value.cpu_request ~ ' mem=' ~ runner_item.value.memory_limit) if runner_item.key is defined else (runner_item.description | default(runner_item.name)) }}",
{% if runner_item.group_id is defined %}
  "group_id": {{ runner_item.group_id | to_json }},
{% endif %}
{% if runner_item.project_id is defined %}
  "project_id": {{ runner_item.project_id | to_json }},
{% endif %}
  "tag_list": {{ ['docker-' + runner_item.key, 'k8s-' + runner_item.key, 'shared-' + runner_item.key] if runner_item.key is defined else (runner_item.tags | default(runner_item.name) | split(',') | map('trim') | list) | to_json }}
}
