{
  "runner_type": "{{ item.runner_type | default('instance_type') }}",
  "description": "{{ ('k8s-runner-' + item.key ~ ' | cpu=' ~ item.value.cpu_request ~ ' mem=' ~ item.value.memory_limit) if item.key is defined else (item.description | default(item.name)) }}",
{% if item.group_id is defined %}
  "group_id": {{ item.group_id | to_json }},
{% endif %}
{% if item.project_id is defined %}
  "project_id": {{ item.project_id | to_json }},
{% endif %}
  "tag_list": {{ ['docker-' + item.key, 'k8s-' + item.key, 'shared-' + item.key] if item.key is defined else (item.tags | default(item.name) | split(',') | map('trim') | list) | to_json }}
}
