---
gitlabUrl: {{ k3s_gitlab_runner_gitlab_external_url }}
runnerToken: {{ item.token | default(k3s_gitlab_runner_token) }}

rbac:
  create: true

concurrent: {{ k3s_gitlab_runner_concurrent }}

runners:
  config: |
    {{ item.config | indent(4) }}
