[Unit]
Description={{ app_name }} network
# This is systemd syntax to wait for the network to be online before starting this service:
After=network-online.target

[Network]
NetworkName={{ con_minio_container_network_name }}

[Install]
WantedBy=default.target
