# SPDX-License-Identifier: MIT
---
galaxy_info:
  role_name: {{ role_name }}
  namespace: knelldev
  author: knelldev
  description: TODO - add a one-line role description.
  issue_tracker_url: https://gitlab.knell.dev/knell-internal/platform/ansible/ansible-docker/-/issues
  license: MIT
  min_ansible_version: "2.17"
  platforms:
    - name: EL
      versions:
        - "9"
        - "10"
  galaxy_tags: []

dependencies: []
