PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd yes
# Allow specific users only - only alice in this case
AllowUsers alice

# Sicherheit und Allgemeines
LoginGraceTime 2m
ClientAliveInterval 600
PermitRootLogin no
StrictModes yes
AllowTcpForwarding no
AllowStreamLocalForwarding no
X11Forwarding no